DATABASE_URL="singlestore://user:passwd@host:port/db"
SINGLESTORE_USER="user"
SINGLESTORE_PASS="passwd"
SINGLESTORE_HOST="host"
SINGLESTORE_PORT="3300"
SINGLESTORE_DB_NAME="my_db"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="my-clerk-pk"
CLERK_SECRET_KEY="my-clerk-sk"

RABBITMQ_URL="amqp://user:passwd@host:port"